.Main{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}
.Menu{
    width: 500px;
    height: 500px;
    background-color: lightseagreen;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Menu input, button{
    width: 300px;
    height: 50px;
    margin: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 19px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(236, 207, 170);
}
.Questions{
    width: 500px;
    height: 500px;
    background-color: lightseagreen;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Questions #next button{
    width: auto;
    height: auto;
    padding: 8px;
    margin: 8px;
    background-color: rgb(189, 228, 130);
}
.Score{
    width: 500px;
    height: 500px;
    background-color: lightseagreen;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}