.Todo{
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Todo input {
  margin: 10px;
  width: 300px;
  height: 30px;
  font-size: 16px;
  padding-left: 10px;
}
.todo-buttons {
  font-size: medium;
  width: 100px;
  height: 40px;
  margin: 5px;
  padding: 5px;
  background-color: coral;
  color: white;
  border: none;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.todo-buttons:disabled {
  background-color: #a9a9a9;
  cursor: not-allowed;
}
.todo-buttons:hover:not(:disabled) {
  background-color: #ff7f50;
  cursor: pointer;
  transform: scale(1.1);
}
.deleteButton {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.deleteButton:hover {
  transform: scale(1.1);
}
ul{
  display: grid;
  place-items: center;
  margin-top: 20px;
}
li{
  list-style-type: none;
  width: 300px;
  height: 40px;
  margin: 10px;
  padding: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 10px;
  /* background-color: #f5f5f5; */
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.task-pending li {
  background-color: #57d594;
  border-radius: 5px;
}
.task-completed li {
  background-color: #9befc3;
  border-radius: 5px;
  text-decoration: line-through;
}

.Todo h2{
  font-family: 'Roboto', sans-serif;
  padding: 8px;
  color: #333;
}

.swal2-confirm {
  width: auto !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
}
.swal2-confirm:hover {
  background-color: #7066e0 !important;
  opacity: 0.7 !important;
}
.swal2-cancel {
  width: auto !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
}